<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <context-param>
  	<description></description>
  	<param-name>server_address</param-name>
  	<param-value>127.0.0.1</param-value>
  </context-param>
  
  <context-param>
  	<description></description>
  	<param-name>adminEmail</param-name>
  	<param-value>admin@mail.com</param-value>
  </context-param>
  
  
  <servlet>
  	<servlet-name>MaServlet</servlet-name>
  	<servlet-class>be.veltri.servlet.FirstServlet</servlet-class>
  	<init-param>
  		<description>This contains a secret password.</description>
  		<param-name>secret_password</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>MaServlet</servlet-name>
  	<url-pattern>/FirstServlet</url-pattern>
  	<url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ClientAuthentication</servlet-name>
  	<servlet-class>be.veltri.servlet.ClientAuthentication</servlet-class>
  	<init-param>
  		<param-name>username</param-name>
  		<param-value>Marie</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>1234</param-value>
  	</init-param>
</servlet>
  
  <servlet-mapping>
  	<servlet-name>ClientAuthentication</servlet-name>
    <url-pattern>/ClientAuthentication</url-pattern>
    
  </servlet-mapping>
</web-app>